GEMINI_KEYS=
GEMINI_MODEL=
BASE_STORAGE_PATH=
DATABASE_PATH=
MIN_FREE_DISK_GB=
MAX_DOWNLOAD_CONCURRENCY=
MIN_VIDEO_FPS=
MIN_VIDEO_BITRATE=
TIME_CLIP_BUFFER_SEC=
SEARCH_BACKEND=
MAX_VIDEO_DURATION_SEC=
MIN_VIDEO_DURATION_SEC=
MIN_VIDEO_HEIGHT=
